<div class="row" style="margin-bottom: 30px;">
  <div class="col-md-2">
  </div>
  <div class="col-md-8 css-page-title">
    <div class="media">
      <div class="media-body">
        <h2 class="media-heading text-center"><%= @view.locals[:title] %></h2>
      </div>
    </div>
  </div>
  <div class="col-md-2 css-header-links">
    <% if true #policy(RegisteredApplication).create? && @view.rpt_app[:include_new_app] %>
      <%= link_to 'Register new Site', new_registered_application_path, class: 'btn btn-xs btn-primary pull-right' %>
    <% end %>
  </div>
</div>
