<div class="row css-regd-app-container" style="background: white;">

  <div class="col-md-12">
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">
            <span class="css-regd-app-url" style="overflow: hidden; text-decoration: underline;">
              <%= link_to @view.locals[:app].url, @view.locals[:app].url, target: '_blank' %>
            <span>
        </h4>
      </div>
    </div>
  </div>

</div>
