<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8 css-page-title">
    <div class="media">
      <div class="media-body">
        <h2 class="media-heading text-center"><%= @view.locals[:app].name %></h2>
      </div>
    </div>
  </div>
  <div class="col-md-2 css-header-links">
    <% if true #policy(props[:bookmark]).destroy? && rpt_bmk(props)[:include_delete] %>
      <span class="pull-right css-regd-app-action" style="padding-top: 4px; padding-right: 4px;">
        <%= link_to 'Remove', @view.locals[:app], method: :delete,
                    class: 'btn btn-xs btn-danger',
                    data: {confirm: 'Are you sure you want to delete this site?'} %>
      </span>
    <% end %>
    <% if true #policy(props[:bookmark]).edit? && rpt_bmk(props)[:include_edit] %>
      <span class="pull-right css-regd-app-action" style="padding-top: 4px; padding-right: 4px;">
        <%= link_to 'Edit', edit_registered_application_path(@view.locals[:app]),
                    class: 'btn btn-xs btn-success' %>
      </span>
    <% end %>
  </div>
</div>

<div class="row" style="margin-bottom: 30px;">
  <div class="col-md-2">
  </div>
  <div class="col-md-8 css-site-url">
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading text-center">
            <span class="css-regd-app-url" style="overflow: hidden; text-decoration: underline;">
              <%= link_to @view.locals[:app].url, @view.locals[:app].url, target: '_blank' %>
            <span>
        </h4>
      </div>
    </div>
  </div>
  <div class="col-md-2">
  </div>
</div>
