<div class="row" style="margin-bottom: 10px;">
  <div class="col-md-4">
  </div>
  <div class="col-md-4 css-site-events-heading">
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">
            <span style="text-decoration: underline;">
              Event Name
            <span>
        </h4>
      </div>
    </div>
  </div>
  <div class="col-md-4 css-site-events-heading">
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">
            <span style="text-decoration: underline;">
              Count
            <span>
        </h4>
      </div>
    </div>
  </div>
</div>
