<div class="row" style="margin-bottom: 6px;">
  <div class="col-md-4">
  </div>
  <div class="col-md-4 css-site-event-name">
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">
            <span>
              <%= @view.locals[:name] %>
            <span>
        </h4>
      </div>
    </div>
  </div>
  <div class="col-md-4 css-site-event-count">
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">
            <span>
              <%= @view.locals[:count] %>
            <span>
        </h4>
      </div>
    </div>
  </div>
</div>
