<div class="row" style="margin-bottom: 20px;">
  <div class="col-md-2">
  </div>
  <div class="col-md-8 css-site-event-name">
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">
            <span>
              <% #= pie_chart @view.locals[:data] %>
              <%= pie_chart @view.app.events.group(:name).reorder('name ASC').count %>
            <span>
        </h4>
      </div>
    </div>
  </div>
  <div class="col-md-2">
  </div>
</div>
