<!-- Global flash messages -->
<div class="row">
  <div class="col-md-6">
    <% flash.each do |message_type, message| %>
      <div class="alert css-flash-alert
          <%= flash.now ? 'alert-danger' : flash[:notice] ? 'alert-success' : 'alert-info'%>">
        <%= message %>
        <a class="close" data-dismiss="alert">&#215;</a>
      </div>
      <script>
        /* hide/fade the alert messages after 2 seconds */
        $('.css-flash-alert')
          .fadeTo(2000, 500)
          .slideUp(500, function(){ $('css-flash-alert')
          .alert('close');
        });
      </script>
    <% end %>
  </div>
</div>
