<h1>About Blocmetrics</h1>

<div class="row">
  <div class="col-md-4">
    <h2>Simple to add websites</h2>
    <p>Just <%= link_to 'sign up', new_user_registration_path %> and provide the url.
    </p>
  </div>
  <div class="col-md-4">
    <h2>Simple to track events</h2>
      <p>Just add a single line of code to any web page.
      </p>
  </div>
  <div class="col-md-4">
    <h2>Simple notifications</h2>
      <p>Just receive timely emails.
      </p>
  </div>
</div>
